<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #chatscontent>
  <ion-infinite-scroll #top position="top" threshold="10px" (ionInfinite)="chatLoad($event,'top')">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list>
    <ion-item class="chat" #chatItems *ngFor="let chat of chats;index as i">
      <div>
        <ion-avatar>
          <ion-img [src]="chat.avatar"></ion-img>
        </ion-avatar>
      </div>
      <div [id]="'chat' + i" style="width:100%;">
        <span class="chatna">{{chat.na}}</span>
        <span class="chatdate"> {{chat.upd.toDate()}}</span>
        <div class="chattxt" [innerHtml]="chat.txt"></div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #btm position="bottom" threshold="10px" (ionInfinite)="chatLoad($event,'btm')">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer id="footer">
  <ion-toolbar>
    <ion-item>
      <div class="tiny" contenteditable="true"></div>
      <ion-button [disabled]="!sendable" (click)="send()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>