.menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
}
li:hover {
  background-color: aliceblue;
}
.mine{
  font-weight:600;
}
.ack{
  color:gray;
}
input{
  margin-left:1em;
}