<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user.$|async as u">
    <ng-container *ngIf="u.id else noUser">
      <span>{{u.na}}</span>
      <ion-button (click)="logout()">ログアウト</ion-button>
    </ng-container>
    <ng-template #noUser>
      <ion-button (click)="login()">ログイン</ion-button>
    </ng-template>
    <ion-item *ngFor="let user of users">
      {{user.id}}
      <ion-button (click)="push(u,user)">プッシュ通知</ion-button>
    </ion-item>
  </ng-container>
  <ion-item>許可取得<ion-button (click)="permission()">取得</ion-button>
  </ion-item>
</ion-content>